body {
  margin: auto;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  width: 1200px;
  background-color: #ffffff;

}

.container {
  width: 1200px;
  margin: auto;
  margin-left: 73px;
  margin-right: 73px;
}

.main-header {
  width: 1200px;
  height: 56px;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  display: flex;
  margin: 0;
  background-color: #ffffff;
}

.main-navigation-logo {
  margin-top: 0 auto;
  /* margin-left: 460px; */
}

.site-navigation {
  display: flex;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 18px;
  margin-left: 0;
}

.site-navigation a {
  font-size: : 14px;
  font-weight: 700;
  line-height: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #d1d1d1;
}

.intro {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 800px;

  background-color: #ffffff;
}

.intro img {
  width: 459px;
  margin-left: 370px;
  margin-top: 76px;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  width: 550px;
  text-align: center;
  margin-left: 325px;
  margin-bottom: 34px;
}

.content-main p {
  text-align: center;
  margin-bottom: 51px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  list-style: none;
}

.breadcrumbs li:not(li:nth-child(2)):not(nth-child(6)) {
  width: 400px;
  height: 256px;
}

.breadcrumbs li:first-child,
.breadcrumbs li:nth-child(7) {
  color: #ffffff;
  background-color: #81b3d2;
}

.breadcrumbs li:nth-child(3),
.breadcrumbs li:nth-child(4),
.breadcrumbs li:nth-child(5) {
  background-color: #ffffff;
}

.breadcrumbs li:nth-child(8),
.breadcrumbs li:nth-child(9),
.breadcrumbs li:last-child {
  background-color: #eeeeee;
  margin-bottom: 58px;
}

.breadcrumbs h3 {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  width: 150px;
}

.breadcrumbs li:first-child h3,
.breadcrumbs li:nth-child(7) h3 {
  color: #ffffff;
}

.breadcrumbs span {
  display: block;
  margin-left: 176px;
  margin-top: 32px;
}

.breadcrumbs p {
  width: 290px;
}

.search-form {
  width: 1200px;
  height: 292px;
  background-color: #ffffff;
}

.search-form b {
  padding-left: 450px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-form p {
  margin-top: 30px;
  margin-left: 375px;
  margin-bottom: 49px;
  width: 440px;
  text-align: center;
  line-height: 24px;
}

.button {
  margin-left: 315px;
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

button:hover,
button:focus {
  background-color: #604e43;
}

button:active {
  color: #928a85;
  background-color: #503e33;
}

/* форма поиска отеля */
.search-form form {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 78px;
  padding: 55px;
}

label {
  font-weight: 700px;
  line-height: 26px;
}

input {
  margin-bottom: 30px;
  margin-left: 167px;
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 38px;
}

.half-width {
  margin-left: 10px;
  margin-bottom: 54px;
  width: 115px;
  height: 38px;
}

input:hover {
  background-color: #ebebeb;
  border: none;
}

input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[type="submit"] {
  margin-left: 55px;
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #ffffff;
  background-color: #669ec0;
}

input[type="submit"]:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/* конец поиска отеля */

.main-footer {
  display: flex;
  margin-top: 78px;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-logo {
  margin-left: 132px;
  margin-top: 49px;
  margin-right: 256px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #81b3d2;
}

.footer-logo:active {
  color: #cacaca;
}

.footer-social ul {
  display: flex;
  list-style: none;
  width: 150px;
  margin-top: 36px;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-copyright {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 101px;
}

/*внутренняя страничка*/
.site-navigation-current{
  color: #766357;
}

.filters {
  margin-bottom: 31px;
  background-image: url("../img/filter-background-inner.jpg");
  background-repeat: no-repeat;
}

fieldset {
  border: none;
}

.filters input[type="submit"] {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.filters input[type="submit"]:hover,
.filters input[type="submit"]:focus,
.filters input[type="submit"]:active {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  display: flex;
  height: 87px;
  background-color: #ffffff;
}

.sort ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding: 0;
}

.find b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-right: 50px;
}

.sort li {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.find li:nth-child(2) {
  margin-right: 41px;
}

.sort-filter li {
  margin: 0;
  margin-right: 35px;
}

.sort-button li:first-child {
  margin-right: 12px;
  margin-left: 503px;
}

.sort-button li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.sort-filter a {
  color: #d1d1d1;
  border-bottom: dotted;
  border-color: #81b3d2;
}

.sort-filter a:hover,
.sort-filter a:focus {
  color: #81b3d2;
}

.sort-filter a:active {
  color: #000000;
  border-bottom: none;
}

.sort-filter-current a{
  color: #81b3d2;
  border-bottom: none;
}

.sort-button {
  margin-right: 73px;
  margin-left: auto;
}

.content,
.catalog {
  margin: 0;
}

.catalog img {
  margin-top: 31px;
}

.catalog li {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top: 1px solid #d1d1d1;
  border-bottom: 0.5px solid #d1d1d1;
}

.catalog h3 {
  margin-top: 31px;
  margin-left: 165px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.catalog h3:hover,
.catalog h3:focus {
  color: #81b3d2;
}

.catalog h3:active {
  color: #c6c6c6;
}

.catalog-item,
.catalog-item-price {
  font-size: 14px;
  line-height: 21px;
}

.booking a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.booking a:first-child {
  color: #ffffff;
  background-color: #81b3d2;
}

.booking a:first-child:hover,
.bookint a:first-child:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.booking a:first-child:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.booking a:nth-child(2) {
  color: #ffffff;
  background-color: #766357;
}

.booking a:nth-child(2):hover,
.bookint a:nth-child(2):focus {
  color: #ffffff;
  background-color: #604e43;
}

.booking a:nth-child(2):active {
  color: #928a85;
  background-color: #503e33;
}

.catalog-item-rating span {
  color: #666666;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
